body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#filter-options {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  height: 140px;
  overflow-y: scroll;
  width: 280px;
}

.checkbox {
  margin-left: 8px;
}

img {
  background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  max-width: 100%; 
  max-height: 150px; 
  margin-top: 10%;
  margin-left: 1%;
  margin-right: 1%;
}

.thumbnail {
  position: relative;
  display: inline-block;
  max-width: 20em;
  width: 100vw;
  height: 275px;
  vertical-align: bottom;
  margin: 1%;
}

a > .thumbnail {
  display: inline-block;
  max-width: 20em;
  width: 100vw;
  height: 275px;
  vertical-align: bottom;
  margin: 1%;
}

.thumbnail.full-content {
  position: relative;
  display: inline-block;
  max-width: 20em;
  width: 100vw;
  height: 325px;
  vertical-align: bottom;
  margin: 1%;
}

#correct-answer {
  border: 2px solid #129965;
}

#incorrect-answer {
  border: 2px solid #c10d34;
}

.audio-small {
  width: 100%;
}

.thumbnail > .caption {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.navbar {
  max-width: 950px;
  margin: auto;
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.navbar > .container {
  max-width: 950px;
  margin: auto;
}