body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#filter-options {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  height: 140px;
  overflow-y: scroll;
  width: 280px;
}

.checkbox {
  margin-left: 8px;
}

img {
  background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  max-width: 200px;
  max-height: 200px;
  vertical-align: top;
}

.thumbnail {
  width: 20%;
  height: 300px;
  float: left;
  margin-left: 4%;
}

.bird-cards {
  margin: auto
}

