body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#filter-options {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  height: 140px;
  overflow-y: scroll;
  width: 280px;
}

.checkbox {
  margin-left: 8px;
}

img {
  background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  max-width: 100%; 
  max-height: 150px; 
  margin-top: 5%;
  margin-bottom: 5%;
}

.thumbnail {
  display: inline-block;
  width: 300px;
  height: 275px;
  float: center;
  vertical-align: bottom;
  margin-left: 1%;
  margin-right: 1%;
}

a > .thumbnail {
  display: inline-block;
  width: 300px;
  height: 275px;
  float: center;
  vertical-align: bottom;
  margin-left: 1%;
  margin-right: 1%;
}

.thumbnail.full-content {
  display: inline-block;
  width: 300px;
  height: 350px;
  float: center;
  vertical-align: bottom;
  margin-left: 1%;
  margin-right: 1%;
}

#home-bird {
  width: 30%;
}

#correct-answer {
  border: 2px solid #129965;
}

#incorrect-answer {
  border: 2px solid #c10d34;
}

.audio-small {
  width: 100%;
}

/* .birds-list {
  display: inline-block;
  width: 90%;
  margin: auto;
} */

/* .bird-description {
  vertical-align: bottom;
} */

